body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.pitch-details-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#pitchImage {
    margin-bottom: 20px;
}

#pitchImage img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#pitchDetails {
    margin-top: 20px;
}

#pitchDetails h2 {
    font-size: 24px;
    color: #333;
}

#pitchDetails p {
    font-size: 18px;
    color: #555;
}

#video-container {
    margin-top: 20px;
}
